.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.buttons button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background:
    linear-gradient(
      90deg,
      #2563eb,
      #9333ea
    );

  color: white;
  cursor: pointer;
  font-size: 16px;
}